/* Resetting default browser styles */

  body{
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    padding-left: 20px;
    padding-right: 20px;
}
.p{
    font-size: 22px;
    vertical-align: baseline;
    margin: 0 auto 2rem;
    line-height: 24px;
    max-width: 552px;

}
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
  }